{% load static %}
<!DOCTYPE html>

<head>
    <title>Multiple Choice Questions</title>

    <!-- BASE CSS -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

</head>
<body>
<div style="float: right;">
        <a href="/add" ><button>Add Question</button></a>
    </div>
    <h3>Add Story</h3> 

    <div>
      <form action="/add_story" method="POST">
        {% csrf_token %}
        <label for="question"><h2>Story</h2></label><br>
         <textarea name="story" placeholder="Some text..."></textarea>
      
      <input type="submit" value="Add Story">
  </form><br><br><br><br><br>
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Warning - </strong> {{ message }}
</div>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success - </strong> {{ message }}
</div>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Error - </strong> {{ message }}
</div>
{% endif %}
{% endfor %}

<h3>All Story</h3>
<table id="allquestion">
  <tr>
    <th>S/N</th>
    <th>Story</th>
    <th>Action</th>
</tr>
{% for data in show %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{data.story}}</td>
    <td>
        <a href="/delete_story/{{data.id}}" ><button>Delete</button></a>
    </td>
</tr>
{% endfor %}
</table>
</div>

<div style="float: right;">

</div>

</body>
</html>